.button {
     -fx-background-color: transparant;
}

.button:hover {
	-fx-text-fill: white;
    -fx-background-color:  #C48888;
}

.menu-button:hover {
	-fx-text-fill: white;
    -fx-background-color:  #C48888;
}

.menu-item {
	-fx-background-color: #C48888;
}

